@import url(constants.less);
@import url(grid.less);
@import url(buttons.less);
@import url(nav.less);
@import url(universal.less);
@import url(layout.less);
@import url(modules.less);
@import url(feed.less);
@import url(rejilla.less);
.top-music, .top-video{
	ul{
		padding: 0;
		li{
			list-style: none;	
			padding: 7.5px;	
			color: @gray-dark;
		}
	}
}