/* FONTS */
@import url(http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css);
@import url(http://fonts.googleapis.com/css?family=Roboto);
/* 

HEADER

*/
.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}
.clearfix:after {
  clear: both;
}
.clearfix {
  position: relative;
  *zoom: 1;
}
nav {
  margin-bottom: 15px;
  width: 100%;
  background: transparent;
  font-size: 0.75em;
  font-weight: 400;
  position: relative;
  border-bottom: 1px solid #e4e4e4;
}
nav ul {
  padding: 0;
  display: block;
  margin: 0 auto;
  height: 40px;
}
nav li {
  display: inline;
  float: left;
  margin-left: 10px;
  margin-right: 10px;
}
nav a {
  color: #4f4f4f;
  display: inline-block;
  width: 100px;
  text-align: center;
  text-decoration: none;
}
nav li a {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
nav a:hover,
nav a:active {
  background-color: transparent;
}
nav a#pull {
  display: none;
}
/* Mobile menu */
@media only screen and (max-width: 480px) {
  nav {
    border-bottom: 0;
    background-color: #f1c40f;
    color: white;
  }
  nav ul {
    display: none;
    height: auto;
  }
  nav a#pull {
    display: block;
    background-color: #f1c40f;
    width: 100%;
    position: relative;
    color: white;
    text-align: left;
    padding-left: 10px;
  }
  nav a#pull:after {
    content: "\f0c9";
    font-family: FontAwesome;
    display: inline-block;
    float: right;
    margin-right: 25px;
  }
  nav li {
    display: block;
    float: none;
    width: 100%;
    border-bottom: 1px solid white;
    margin-left: 0 !important;
  }
  nav li a {
    width: 100%;
    text-align: center;
    color: white;
    line-height: 2.75em;
    font-size: 0.85em;
  }
}
/* 

RIGHT SIDEBAR

*/
.row #right-sidebar {
  padding: 0;
}
.card-panel {
  margin: 0.5rem 0.33333333rem 0.33333333rem 0.33333333rem;
  border-radius: 2px;
  background-color: #ffffff;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16);
  overflow: hidden;
}
.card-panel img {
  border-radius: 2px;
  min-height: 150%;
  width: 200%;
  margin-left: -50%;
  margin-top: -25%;
}
.card-panel.small {
  height: 300px;
}
.card-panel.medium {
  height: 400px;
}
.card-panel.large {
  height: 500px;
}
.card {
  position: relative;
  overflow: hidden;
  margin: 0.5rem 0.33333333rem 0.33333333rem 0.33333333rem;
  background-color: #ffffff;
  border-radius: 2px;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16);
}
.card .card-title {
  color: #fff;
  font-size: 24px;
  font-weight: 300;
}
.card .card-title.activator {
  cursor: pointer;
}
.card.small,
.card.medium,
.card.large {
  position: relative;
}
.card.small .card-image,
.card.medium .card-image,
.card.large .card-image {
  overflow: hidden;
}
.card.small .card-content,
.card.medium .card-content,
.card.large .card-content {
  overflow: hidden;
}
.card.small .card-action,
.card.medium .card-action,
.card.large .card-action {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}
.card.small {
  height: 300px;
}
.card.small .card-image {
  height: 150px;
}
.card.small .card-content {
  height: 150px;
}
.card.medium {
  height: 400px;
}
.card.medium .card-image {
  height: 250px;
}
.card.medium .card-content {
  height: 150px;
}
.card.large {
  height: 500px;
}
.card.large .card-image {
  height: 330px;
}
.card.large .card-content {
  height: 170px;
}
.card .card-image {
  position: relative;
}
.card .card-image img {
  border-radius: 2px 2px 0 0;
  position: relative;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  width: 100%;
}
.card .card-image .card-title {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 20px;
}
.card .card-content {
  padding: 20px;
  border-radius: 0 0 2px 2px;
}
.card .card-content p {
  margin: 0;
  color: inherit;
}
.card .card-content .card-title {
  line-height: 48px;
}
.card .card-action {
  border-top: 1px solid rgba(160, 160, 160, 0.2);
  padding: 20px;
}
.card .card-action a {
  color: #f3d458;
  margin-right: 20px;
  text-transform: uppercase;
}
.card .card-action a:hover {
  color: #faedb7;
}
.card .card-reveal {
  padding: 20px;
  position: absolute;
  background-color: #FFF;
  width: 100%;
  overflow-y: auto;
  top: 100%;
  height: 100%;
  z-index: 1;
  display: none;
}
.card .card-reveal .card-title {
  cursor: pointer;
  display: block;
}
/* 

FOOTER

*/
footer {
  display: none;
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 10%;
  background: #f1c40f;
  color: white;
}
footer .container #album-art {
  background: #f39c12;
}
footer .container #controls {
  background: #f39c12;
}
@media (max-width: 767px) {
  footer .container {
    padding: 0;
  }
}
/* 

LEFT SIDEBAR

*/
#left-sidebar {
  position: absolute;
  height: 100%;
  background-color: #f1c40f;
}
@media (max-width: 767px) {
  #left-sidebar {
    background-color: #f1c40f;
  }
  #left-sidebar .btn {
    border: none;
  }
}
html {
  background-color: #f8f8f8;
  font-family: 'Roboto', sans-serif;
}
body {
  height: 100%;
  padding-bottom: 10%;
}
header {
  background: white;
}
#logo {
  max-width: 350px;
}
@media (max-width: 767px) {
  #logo {
    max-width: 50%;
    display: block;
    margin: 0 auto;
  }
}
/* 

CONTENT

*/
#wrapper {
  border-top: 1px solid #f39c12;
}
#app-content {
  height: 100%;
  padding: 0;
  margin-left: 16.66666667%;
}
@media (max-width: 767px) {
  #app-content {
    padding: 0;
    margin-left: 0;
  }
}
.top-row .card,
.top-row .card-panel {
  margin-top: 0;
}
#content-handler {
  padding-top: 0;
}
#content-handler .col {
  padding: 0;
}
#content-handler .main {
  position: relative;
}
#content-handler .main .overlay {
  position: absolute;
  background: rgba(0, 0, 0, 0.25);
  width: 100% !important;
  display: block;
  height: 100%;
}
#content-handler .main img {
  height: 100% !important;
}
#content-handler .main h2#main-title {
  color: white;
  font-size: 2em;
  position: absolute;
  bottom: 15%;
  left: 5%;
}
#content-handler .main a {
  position: absolute;
  bottom: 2.5%;
  left: 2.5%;
}
#content-handler .main a.main-button {
  color: white;
  font-size: 1.75em;
}
#content-handler .post.vertical-post {
  min-height: 324px !important;
}
#content-handler .post.vertical-post.social-post {
  position: relative;
  color: #e7e7e7;
  background: transparent;
}
#content-handler .post.vertical-post.social-post .post-header {
  padding-left: 5%;
  position: absolute;
  top: 0;
  left: 0;
  height: 25%;
  display: block;
  width: 100%;
  background: #cecece;
}
#content-handler .post.vertical-post.social-post .post-header img {
  width: 75%;
  margin: 10%;
}
#content-handler .post.vertical-post.social-post .post-header span.fa {
  display: block;
  margin: 17.5% auto;
  color: #4f4f4f;
  text-align: center;
  cursor: pointer;
}
#content-handler .post.vertical-post.social-post .post-header p {
  color: #4f4f4f;
  font-size: 0.5em;
  font-weight: bold;
  line-height: 0.5em;
}
@media (max-width: 767px) {
  #content-handler .post.vertical-post.social-post .post-header {
    position: relative;
    height: auto;
  }
  #content-handler .post.vertical-post.social-post .post-header img {
    max-width: 35%;
    margin: 0;
    padding: 2.5%;
  }
  #content-handler .post.vertical-post.social-post .post-header span.fa {
    display: block;
    margin: 0;
    color: #4f4f4f;
    text-align: right;
    cursor: pointer;
  }
  #content-handler .post.vertical-post.social-post .post-header p {
    color: #4f4f4f;
    font-size: 0.5em;
    font-weight: bold;
    line-height: 0.5em;
  }
}
#content-handler .post.vertical-post.social-post .post-content {
  position: absolute;
  top: 27.5%;
  padding: 5%;
  color: #e7e7e7;
}
#content-handler .post.vertical-post.social-post .post-content p {
  font-size: 0.85em;
  color: #4f4f4f;
  font-weight: bold;
  display: block;
  margin: 0 auto;
}
@media (max-width: 767px) {
  #content-handler .post.vertical-post.social-post .post-content {
    position: relative;
    height: auto;
  }
}
#content-handler .post.vertical-post.social-post .post-meta {
  position: absolute;
  bottom: 0;
  height: 25%;
  left: 5%;
  font-size: 0.5em;
  color: #4f4f4f;
}
@media (max-width: 767px) {
  #content-handler .post.vertical-post.social-post .post-meta {
    position: relative;
    height: auto;
  }
}
#content-handler .post.vertical-post.famous-post {
  position: relative;
  color: #e7e7e7;
  background: #f3d458;
}
#content-handler .post.vertical-post.famous-post .post-header {
  padding-left: 5%;
  position: absolute;
  top: 0;
  left: 0;
  height: 25%;
  display: block;
  width: 100%;
  background: #f1c40f;
}
#content-handler .post.vertical-post.famous-post .post-header img {
  width: 75%;
  margin: 10%;
}
#content-handler .post.vertical-post.famous-post .post-header span.fa {
  display: block;
  margin: 17.5% auto;
  color: #4f4f4f;
  text-align: center;
  cursor: pointer;
}
#content-handler .post.vertical-post.famous-post .post-header p {
  color: #4f4f4f;
  font-size: 0.5em;
  font-weight: bold;
  line-height: 0.5em;
}
#content-handler .post.vertical-post.famous-post .post-content {
  position: absolute;
  top: 27.5%;
  padding: 5%;
  color: #e7e7e7;
}
#content-handler .post.vertical-post.famous-post .post-content p {
  font-size: 0.85em;
  color: #4f4f4f;
  font-weight: bold;
  display: block;
  margin: 0 auto;
}
#content-handler .post.vertical-post.famous-post .post-meta {
  position: absolute;
  bottom: 0;
  height: 25%;
  left: 5%;
  font-size: 0.5em;
  color: #4f4f4f;
}
#content-handler .post.famous-post {
  border: 1px solid #f39c12;
}
/* HTML ELEMENTS */
@keyframes event {
  0% {
    box-shadow: 0px 3px 3px 0px rgba(50, 50, 50, 0.4);
  }
  20% {
    box-shadow: 0px 9px 14px 0px rgba(50, 50, 50, 0.6);
  }
  100% {
    box-shadow: 0px 3px 3px 0px rgba(50, 50, 50, 0.4);
  }
}
/* Ios */
* {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
/* btn */
button.btn,
a.btn {
  float: left;
  position: relative;
  display: block;
  border-radius: 2px;
  border: none;
  cursor: pointer;
  outline: none;
  padding: 16px;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-family: 'Roboto', sans-serif;
  transition: background 1s ease-in-out;
  overflow: hidden;
  background: white;
  color: black;
  min-width: 150px;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
button.btn.primary,
a.btn.primary {
  background-color: #f1c40f;
  color: white;
}
button.btn.primary:hover,
a.btn.primary:hover {
  background-color: #f39c12;
}
button.btn.inverse,
a.btn.inverse {
  background-color: transparent;
  color: #4f4f4f;
  -webkit-transition-property: all;
  -webkit-transition-duration: 0.2s;
  -webkit-transition-timing-function: ease;
  -webkit-transition-delay: 0s;
}
button.btn.inverse:hover,
a.btn.inverse:hover {
  background-color: rgba(99, 99, 99, 0.2);
}
button.btn.inverse.active,
a.btn.inverse.active {
  border-bottom: 2px solid #f3d458;
}
button.btn.shadow,
a.btn.shadow {
  box-shadow: 0px 3px 3px 0px rgba(50, 50, 50, 0.4);
}
button.btn.shadow:active,
a.btn.shadow:active {
  box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.4);
}
button.btn.active,
a.btn.active {
  font-weight: bold;
}
button.btn.small,
a.btn.small {
  min-height: 0;
  min-width: 0;
  font-size: 10px;
  padding: 10px;
}
.mood-selector {
  display: inline-block;
  vertical-align: top;
}
.mood-selector .mood-btn {
  border-radius: 15px;
}
.feed-card {
  margin: 0.5rem 0.33333333rem 0.33333333rem 0.33333333rem;
  background-color: #ffffff;
  border-radius: 2px;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16);
  position: relative;
  height: 275px;
  border: none;
  overflow: hidden;
}
.feed-card .card-title {
  color: #fff;
  font-size: 24px;
  font-weight: 300;
}
.feed-card .card-title.activator {
  cursor: pointer;
}
.feed-card.small,
.feed-card.medium,
.feed-card.large {
  position: relative;
}
.feed-card.small .card-image,
.feed-card.medium .card-image,
.feed-card.large .card-image {
  overflow: hidden;
}
.feed-card.small .card-content,
.feed-card.medium .card-content,
.feed-card.large .card-content {
  overflow: hidden;
}
.feed-card.small .card-action,
.feed-card.medium .card-action,
.feed-card.large .card-action {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}
.feed-card.small {
  height: 300px;
}
.feed-card.small .card-image {
  height: 150px;
}
.feed-card.small .card-content {
  height: 150px;
}
.feed-card.medium {
  height: 400px;
}
.feed-card.medium .card-image {
  height: 250px;
}
.feed-card.medium .card-content {
  height: 150px;
}
.feed-card.large {
  height: 500px;
}
.feed-card.large .card-image {
  height: 330px;
}
.feed-card.large .card-content {
  height: 170px;
}
.feed-card .card-image {
  position: relative;
}
.feed-card .card-image img {
  border-radius: 2px 2px 0 0;
  position: relative;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  width: 100%;
}
.feed-card .card-image .card-title {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 20px;
}
.feed-card .card-content {
  padding: 20px;
  border-radius: 0 0 2px 2px;
}
.feed-card .card-content p {
  margin: 0;
  color: inherit;
}
.feed-card .card-content .card-title {
  line-height: 48px;
}
.feed-card .card-action {
  border-top: 1px solid rgba(160, 160, 160, 0.2);
  padding: 20px;
}
.feed-card .card-action a {
  color: #f3d458;
  margin-right: 20px;
  text-transform: uppercase;
}
.feed-card .card-action a:hover {
  color: #faedb7;
}
.feed-card .card-reveal {
  padding: 20px;
  position: absolute;
  background-color: #FFF;
  width: 100%;
  overflow-y: auto;
  top: 100%;
  height: 100%;
  z-index: 1;
  display: none;
}
.feed-card .card-reveal .card-title {
  cursor: pointer;
  display: block;
}
.feed-card.primary {
  background-color: white;
  color: #e7e7e7;
}
.feed-card.inverse {
  background-color: #f3d458;
  color: white;
}
.feed-card .feed-heading {
  position: relative;
  z-index: 2;
  height: 120px;
  border-bottom-color: #fff;
  overflow: hidden;
  -webkit-transition: height 600ms ease-in-out;
  transition: height 600ms ease-in-out;
}
.feed-card .feed-heading img {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 1;
  min-height: 120px;
  width: 150%;
  -webkit-transform: translate3d(-50%, -50%, 0);
  transform: translate3d(-50%, -50%, 0);
}
.feed-card .feed-heading button {
  position: absolute;
  top: 10px;
  right: 15px;
  z-index: 3;
}
.feed-card .feed-figure {
  position: absolute;
  top: auto;
  left: 50%;
  z-index: 3;
  width: 70px;
  height: 70px;
  background-color: #f3d458;
  border-radius: 50%;
  opacity: 1;
  -webkit-transform: translate3d(-50%, -50%, 0);
  transform: translate3d(-50%, -50%, 0);
  -webkit-transition: opacity 400ms ease-in-out;
  transition: opacity 400ms ease-in-out;
}
.feed-card .feed-figure img {
  width: 70px;
}
.feed-card .feed-body {
  padding-top: 40px;
  padding-bottom: 20px;
  -webkit-transition: padding 400ms ease-in-out;
  transition: padding 400ms ease-in-out;
}
.feed-card:hover .feed-heading {
  height: 55px;
  -webkit-transition: height 400ms ease-in-out;
  transition: height 400ms ease-in-out;
}
.feed-card:hover .feed-figure {
  opacity: 0;
  -webkit-transition: opacity 400ms ease-in-out;
  transition: opacity 400ms ease-in-out;
}
.feed-card:hover .feed-body {
  padding-top: 20px;
  -webkit-transition: padding 400ms ease-in-out;
  transition: padding 400ms ease-in-out;
}
/* SEARCH BOX
* {
box-sizing: border-box;
-webkit-box-sizing: border-box;
}
input[type="text"]:focus {outline: none;}
input[type="text"] {
border: 0;
padding: 4px;
width: 100%;
display: inline;
height: 28px;
line-height: 20px;
border-radius: 2px;
font-size: 14px;
}


.searchcontainer {
display: inline;
position: absolute;
border-radius: 3px;
top: 30px;
left: 30px;
padding: 15px 15px;
background: #fff;
width: 10%;
height: 46px;
overflow: hidden;
transition: all 0.2s ease-out;
-webkit-transition: all 0.2s ease-out;
box-shadow: 0 1px 3px 1px rgba(0,0,0,0.2);
}


.searchsmall {
position: absolute;
top: 0;
left: 0;
padding: 10px 15px;
z-index: 50;
width: 100%;
}


.searchtoggler {
width: 40px;
height: 40px;
background: @yellow-light;
display: inline-block;
position: absolute;
border-radius: 50%;
line-height: 40px;
color: #fff;
text-align: center;
font-weight: bold;
font-size: 1em;
transition: all 0.2s ease-out;
-webkit-transition: all 0.2s ease-out;
box-shadow: 0 1px 3px 1px rgba(0,0,0,0.2);
cursor: pointer;
}

*/
/*.btn{
  display:inline-block;
  padding: 5px 10px;
  margin:10px;
  font-size: 1em;
  font-weight: 400;
  background: transparent;
  border-radius: 0px;
  border:1px solid @yellow-base;
  color: @yellow-base;
  float:none;
  cursor: pointer;
  &:focus{
    outline: @yellow-dark;
    color: @yellow-dark;
  }
  &:hover{
    background: @yellow-base;
    border-color: @yellow-dark;
    color: #fff;
  }

  &.btn-inverse{
    background: @yellow-base;
    border-color: @yellow-dark;
    color:#fff;
  }

  &.active{
    background: @yellow-base;
    border-color: @yellow-dark;
    color:#fff;
  }  
}
.btn.selected{
  background: @yellow-dark;
  border-color: @yellow-dark;
  color:#fff;
}

*/
/*
#search-box{
  height: 40px;
  margin-top: 3.5px;
  input{
    margin: 0;
    margin-right: -10px;
    line-height: 22px;
    background: transparent;
    border: 1px solid @gray-dark;
    border-right: none;

  }
  .btn.btn-inverse{
    margin: 0 !important;
  }

  ::-webkit-input-placeholder { 
      color:    @gray-dark;
      font-size: 0.75em;
      font-family: 'Roboto', sans-serif;
      padding-left: 10px;
  }
  :-moz-placeholder {
     color:    @gray-dark;
     opacity:  1;
     font-size: 0.75em;
     font-family: 'Roboto', sans-serif;
     padding-left: 10px;
  }
  ::-moz-placeholder { 
     color:    @gray-dark;
     opacity:  1;
     font-size: 0.75em;
     font-family: 'Roboto', sans-serif;
     padding-left: 10px;
  }
  :-ms-input-placeholder { 
     color:    @gray-dark;
     font-size: 0.75em;
     font-family: 'Roboto', sans-serif;
     padding-left: 10px;
  }  

  @media(max-width: 767px){
    display: none;
  }
}*/
